.mainContainer{
	height: 500px;
	width: 700px;
	border: 2px solid black;
	margin-left: 300px;
}

.smiley {
	border: 2px solid black;
	display: inline-block;
}

.image {
	height: 100px;
}

.madLibImg {
	width:100%;
}

.automate {
	font-size: 20px;
	text-align: center;
}

.blank {
	text-decoration: underline;
	color: black;
	font-weight: bold;
}

.container {
	width: 100%;
}

.userInput{
	display: inline-block;
	padding: 20px;
	height: 20px;
}

.results {
	border-top:1px solid black;
	padding-top : 30px;
}

.btn {
	padding-left: 350px;
}

.reset {
	padding-top: 30px;
}

.error {
	color: red;
}
